<nav>
  <a href="/">Odin's Club</a>
  <ul>
    <% if (locals.currentUser) { %>
      <% if (!locals.currentUser.member) { %>
        <li><a href="/join">Become a member</a></li>
      <% } %>
      <li><a href="/new-message">Create a post</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/sign-up">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
